/* Main style */
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f9;
  width: 100%;
  height: 100%;
}

.canopy2_face {
  font-family: poppins, sans-serif;
  color: #344563 !important;
  font-weight: bold !important;
  font-size: 17px;
  line-height: 16px;
  position: static;
  width: 55px;
  height: 16px;
  padding-left: 0;
  padding-top: 8px;
  margin-left: 21px;
}

button {
  border-radius: 10px;
  background-color: #fff;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-title {
  animation: 1s ease-out 0s 1 slideInLeft;
}

.nav-menu {
  display: none;
}

.animation-title {
  animation: 1s ease-out 0s 1 slideInRight;
}

.social-icon:hover {
  animation: animateme 4s infinite;
}

.mobnav-menu {
  display: none;
  opacity: 0.96;
  z-index: 99;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #262d6c;
  transform: translateY(-100);
  overflow-x: hidden;
  margin-top: 0;
}

.mobnav-list {
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  margin-top: 40px;
}

.mobnav-list a {
  color: black;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  list-style: none !important;
  text-decoration: none;
  margin-bottom: 0 !important;
}

@keyframes animateme {
  100% { transform: rotate(360deg); }
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  height: 72px;
  color: #344563;
}

header .logo {
  color: #6070ff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.header {
  background-image: url("../mobile-images/header-shapes\ mobile.png");
  height: 718px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 10%;
  border-bottom-left-radius: 100px;
}

.header a {
  text-decoration: none;
  display: block;
  color: #091e42;
}

.header h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  width: 90%;
  font-weight: 700;
}

.header p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.header > a {
  text-decoration: none;
  color: #7f8cff;
  padding-top: 3px;
  padding-bottom: 23px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.lang-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.langu2 {
  background-color: wheat;
  padding: 10px;
  border-radius: 8px;
  color: #091e42;
}

.header .social a {
  color: #505f79;
}

.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header ul li {
  margin-right: 20px;
}

.work-section {
  background-color: #e5e5e5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.work-section > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  top: 114px;
}

.desktop {
  display: none;
}

.modalImage img {
  width: 100%;
  margin-top: 30px;
}

.modalImageDesktop img {
  display: none;
}

.work-section .card img {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.img-center {
  justify-content: center;
}

.grey-cirlce {
  position: static;
  width: 8px;
  height: 8px;
  left: 87px;
  top: 16px;
  color: #c1c7d0 !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 4px;
}

.project-title {
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
}

.card > ul > li {
  list-style: none;
}

.modalButtons button {
  border: 1px solid #6070ff;
  padding: 12px 10px;
  color: #396df2;
  font-size: 17px;
}

.card > ul > li > button {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.works-section {
  display: grid;
  grid-row-gap: 88px;
  padding: 88px 24px;
  overflow-x: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.works-section .card {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.work-section .card {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card ul {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  align-items: center;
  display: flex;
}

.card ul li {
  margin-right: 20px;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  font-family: "Times New Roman", Times, serif;
}

.card .card-sub-head .fa {
  font-size: 10px;
  color: #c1c7d0;
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  order: 0;
}

.card .card-sub-head .sub-text {
  color: #7a869a;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  order: 0;
}

.modal .canopy,
.option {
  font-weight: 600;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.card .card-sub-head .canopy {
  color: #344563 !important;
}

.card .project-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  padding: 10px 0;
  margin: 0;
  padding-right: 25%;
  line-height: 44px;
}

.card p {
  padding: 0 3px;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  width: 85%;
}

.viewpro-btn {
  padding: 12px;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  color: #396df2;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 17px !important;
  line-height: 24px;
}

.viewpro-btn:hover {
  background-color: #396df2;
  color: #fff;
}

.resume-button {
  padding: 12px;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  color: #396df2;
  text-align: center;
  margin-bottom: 0 !important;
}

.resume-button:hover {
  background-color: #396df2;
  color: #fff;
}

.card .card-sub-head {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  font-weight: 600;
  color: #344563 !important;
  padding: 0 2px;
  flex-direction: row;
}

.head-content .header .lets-connect {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 0 !important;
}

.aboutme {
  background-color: #fff;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 80px;
}

.aboutme .header {
  background-image: url("mobile-images/works/aboutmyself.png");
  border-top-right-radius: 80px;
}

.aboutme .header .lets-connect {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.aboutme .social {
  margin-left: 0 !important;
}

.language {
  margin-top: 20px;
}

.aboutme .header .about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.aboutme .header ul {
  margin-left: 15px;
}

.aboutme .header .resume-button {
  padding: 12px;
  width: 162px;
  height: 48px;
  margin-top: 20px;
}

.aboutme .header .resume-button:hover {
  color: #fff;
  background-color: #7f8cff;
}

.aboutme .languages {
  display: grid;
  margin-top: -80px;
}

.aboutme .languages .lang-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  height: 72px;
}

.aboutme .languages .lang-item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 23px;
}

.aboutme .languages .lang-item h4 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
}

.aboutme .languages .lang-item .down-arrow {
  width: 14px;
  height: 8px;
  color: #505f79;
}

.aboutme .languages .lang-item .right-arrow {
  width: 8px;
  height: 14px;
  color: #505f79;
}

.aboutme .languages hr {
  color: #dfe1e6;
  height: 1px;
  margin: 2px 30px;
  text-align: center;
}

.aboutme .languages ul {
  margin: 0;
  padding: 0;
}

.aboutme .languages .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  margin: 0 24px;
}

.aboutme .languages .content div {
  display: flex;
  align-items: center;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 0 14px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.aboutme .languages .content .cont-item {
  display: flex;
  align-items: center;
}

.aboutme .languages .content .cont-item h4 {
  margin-left: 25px;
}

.aboutme .header p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.background-2 {
  background-image: url("../mobile-images/contact-bg-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-content .Contact-Me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../mobile-images/Contactme.png");
  background-size: cover;
  background-color: #fff;
}

.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 15px;
}

.contact-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.Conact-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 20px;
}

input {
  padding: 16px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

textarea {
  font-style: normal;
  padding: 16px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  margin: 10px;
  margin-bottom: 5px;
  color: #b3bac5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.float-left {
  margin-top: 4px;
  align-self: flex-start;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: auto;
}

.cont-btn-center {
  align-self: flex-start;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: auto;
  margin: 10px auto;
}

input:valid {
  border: #008000 1px solid;
}

textarea:valid {
  border: #008000 1px solid;
}

.works-section-desktop {
  display: none;
}

.show-menu {
  background: #6070ff;
  top: 0;
}

.closeBtn {
  color: #fff;
  z-index: 99;
  margin-right: 28px;
  margin-top: 30px;
  display: none;
  cursor: pointer;
}

/* Popup modal mobile */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 35px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin-bottom: 35px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #67798e;
  float: right;
  font-weight: bold;
  font-size: 32px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalText {
  display: none;
}

.modalTextMobile {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 9px 6px;
}

.modalLang {
  display: none;
}

.option-modal {
  color: #7a869a;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  position: static;
  width: 88px;
  padding-top: 8px;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 32px;
}

.TopModalItems {
  padding-bottom: 5 !important;
}

.TopModalItems h2 {
  color: #172b4d;
  font-weight: bold;
  line-height: 44px;
  font-size: 32px;
  font-family: poppins, sans-serif;
  margin-left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.MidModalItems {
  display: flex;
  flex-direction: column;
}

.head {
  color: #172b4d;
  font-weight: bold;
  line-height: 44px;
  font-size: 34px;
  font-family: poppins, sans-serif;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-detail {
  display: inline;
  text-align: center;
}

.card-detail ::after {
  content: '\00b7';
  font-size: 1.5em;
}

.card-detail :last-child::after {
  content: none;
}

.optiond2_full,
.instruction-show,
.dcanopy2_face,
.dcanopy2_facebook,
.desktop-image {
  display: none;
}

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  html body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    height: 70px;
    overflow-x: hidden;
    background-color: #fff;
  }

  .nav-menu .nav-list {
    padding-left: 32px;
    margin-top: 25px;
    list-style: none;
    color: #344563 !important;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
    text-decoration: none;
  }

  .nav-menu .nav-list a {
    color: #091e42;
    text-decoration: none;
  }

  .header-mobile {
    display: none;
  }

  .top-header {
    background-image: url("../desktop-images/Header-bg.png");
    height: 795px;
    width: 100%;
    background-position: 20px 73px;
    padding-left: 18%;
    border-bottom-left-radius: 80px;
    background-size: 98% 650px;
    object-fit: cover;
    padding-bottom: 0 !important;
  }

  .top-header h1 {
    margin-top: 140px;
    margin-right: 100px;
    margin-bottom: 12px;
    margin-left: 0;
  }

  .header .header_desc {
    margin-left: 0;
    margin-right: 100px;
    width: 920px;
    margin-top: 0;
    padding-right: 180px;
  }

  .aboutme .about_desc {
    max-width: 447px;
    width: 100%;
  }

  .header .lesconnect {
    margin-left: 0;
  }

  .top-header .social {
    margin-left: 0;
    padding-bottom: 120px;
    margin-bottom: 90px;
  }

  .aboutme .social {
    margin-left: 0;
    padding-bottom: 46px;
  }

  .aboutme .resume-button {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  .works-section-desktop {
    height: auto;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 100px 100px 0;
  }

  .header .works-section-desktop {
    background-color: #e5e5e5;
  }

  .works-section .card-desk {
    background: #fff;
  }

  .works-section {
    display: none !important;
  }

  .works-section-desktop .card-desk {
    display: grid;
    margin-bottom: 142px;
    grid-template-areas: "A A A A A B    B B B B B B";
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: 496px;
    width: 100%;
    left: 0;
    margin-top: 30px;
    border-radius: 24px;
    padding: 24px;
    overflow-y: hidden;
  }

  .works-section-desktop .card-desk .img-left {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    grid-area: A;
  }

  .card .img-num1 {
    margin: 20px;
  }

  .works-section-desktop .card-desk .card-left-content {
    justify-content: flex-start;
  }

  .works-section-desktop .card-desk .img-right {
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
  }

  .works-section-desktop .card-desk .card-right-content {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    grid-area: B;
    margin-left: 20px;
  }

  .works-section-desktop .card-text-desc {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 0;
  }

  .works-section-desktop .card-desk .card-right-content .card-text-desc {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 0;
  }

  .aboutme .languages ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 25px;
    margin: 10px 0;
  }

  .works-section-desktop .card-desk .card-right-content ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .card-lang-lft li {
    list-style: none;
    margin-right: 20px;
    background-color: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
  }

  .cards-container {
    display: flex;
    align-items: center;
    margin: 10px 0 23px 0;
  }

  .cards-container li {
    padding: 0;
    margin-right: 10px;
  }

  .works-section-desktop .card-desk ul li {
    list-style: none;
    margin-right: 10px;
    background-color: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
  }

  .card-lang-lft {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .fa-circle {
    position: static;
    width: 8px;
    height: 8px;
    left: 87px;
    top: 16px;
    color: #c1c7d0 !important;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 12px;
  }

  .grey-cirlce {
    position: static;
    width: 8px;
    height: 8px;
    left: 87px;
    top: 16px;
    color: #c1c7d0 !important;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 12px;
  }

  .desk-pro-btn {
    padding: 12px;
    text-decoration: none;
    border: 1px solid #4053fc;
    border-radius: 8px;
    height: 48px;
    color: #396df2;
    text-align: center;
    font-family: "Poppins", Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.03em;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
    position: static;
    left: 12px;
    margin-top: 48px;
    margin-left: 0;
    width: 130px;
  }

  .works-section-desktop .card-desk .card-right-content .project-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0;
  }

  .works-section-desktop .card-desk .card-right-content .sub-text {
    position: static;
    width: 120px;
    height: 24px;
    left: 0;
    top: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
  }

  .desk-pro-btn:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .card-content {
    padding: 30px;
  }

  .aboutme {
    flex-direction: row;
    align-items: center;
    padding-left: 100px !important;
    padding-right: 100px !important;
    height: auto;
    background: #fff;
    margin-top: 142px !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
  }

  .aboutme .header {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    width: 50%;
    height: 600px;
  }

  .aboutme .header .about-title {
    margin-top: 60px;
    margin-bottom: 12px !important;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .aboutme .header p {
    font-size: 16px;
    margin-top: 0 !important;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .aboutme .languages {
    display: grid;
    width: 60%;
    padding-top: 100px !important;
    padding-right: 0 !important;
    padding-bottom: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .aboutme .languages .content {
    padding: 0;
    margin: 0 6px;
  }

  .aboutme .languages .content div {
    padding: 0;
  }

  .aboutme .languages .content .cont-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 9px;
    line-height: 10px;
    width: 110px;
    height: 110px;
    display: flex;
  }

  .aboutme .languages .content .cont-item h4 {
    float: left;
    margin-left: 0 !important;
  }

  .Contact-Me {
    background: #6070ff !important;
    background-image: none !important;
    border-top-left-radius: 100px;
    padding: 5%;
    padding-top: 0 !important;
  }

  .Contact-Me .background-2 {
    background-image: url("../desktop-images/contactformshapes.svg");
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: 96% 705px;
    background-position: 40px 40px;
    padding-bottom: 40px;
  }

  .contact-description {
    width: 569px;
  }

  form {
    text-align: center;
    padding: 0 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .modalButtons button {
    margin: 0 10px;
    padding: 5px !important;
    border-radius: 10px !important;
    background-color: #fff;
    width: auto;
  }

  form button:hover {
    background-color: hsl(223deg 63% 67% / 91.1%);
    cursor: pointer;
    border: 1px solid #fff;
  }

  .btn-color {
    background-color: #4053fc;
    color: #fff;
  }

  nav {
    background-color: #fff;
  }

  .closeBtn {
    display: none !important;
  }

  .menu-icon {
    display: none !important;
    text-decoration: none !important;
  }

  .humburger {
    display: none;
  }

  /* poppup */
  .lang {
    padding-top: 40px;
  }

  .modalImage img {
    display: none;
  }

  .modalImageDesktop img {
    width: 100%;
    display: block;
  }

  .modalTextWrapper {
    display: flex;
    margin-top: 50px;
  }

  .modalFlex {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
  }

  .modalText {
    display: block;
    color: #344563;
    width: 65%;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }

  .modalTextMobile {
    display: none;
  }

  .LangInModal {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .LangInModal2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0;
  }

  .modalButtons {
    margin-left: 0;
    justify-content: start;
  }

  .canopy2_face {
    font-family: poppins, sans-serif;
    color: #344563 !important;
    font-weight: bold !important;
    font-size: 17px;
    line-height: 16px;
    position: static;
    width: 55px;
    height: 16px;
    padding-left: 0;
    padding-top: 8px;
    margin-left: 21px;
  }

  .bBg {
    background-color: #4053fc;
    color: #fff;
  }

  .bBg:hover {
    color: #4053fc;
    background-color: #fff;
    border-color: #4053fc;
  }
}

@media (min-width: 1023px) {
  .canopy2_face {
    font-family: poppins, sans-serif;
    color: #344563 !important;
    font-weight: bold !important;
    font-size: 17px;
    line-height: 16px;
    position: static;
    width: 55px;
    height: 16px;
    padding-left: 0;
    padding-top: 8px;
    margin-left: 21px;
  }

  .modalImageDesktop img {
    width: 100%;
    display: block;
  }

  .modalLang {
    display: none;
  }

  .card-flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .contents {
    display: flex;
    flex-direction: column;
  }

  .dcanopy2_face,
  .dcanopy2_facebook {
    font-family: poppins, sans-serif;
    color: #344563;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    position: static;
    margin-bottom: 5px;
    width: 75px;
    height: 16px;
    padding-left: 0;
    padding-top: 8px;
    margin-right: 12px;
  }

  .canopy {
    display: block;
    order: 0;
  }

  .optiond2_full {
    font-family: poppins, sans-serif;
    color: #7a869a;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    position: static;
    padding-top: 8px;
    margin-right: 12px;
  }

  .option {
    display: none;
  }

  .desktop_show {
    color: #091e42;
    font-weight: bold;
    line-height: 52px;
    font-size: 40px;
    margin-top: 30px;
    font-family: poppins, sans-serif;
  }

  .head {
    display: none;
  }

  .langu2,
  .desktop-image,
  .desktop_show,
  .instruction-show,
  .optiond2_full,
  .dcanopy2_face,
  .dcanopy2_facebook {
    display: block;
  }

  .langu2 {
    background-color: #ebebff;
    padding: 6px 14px;
    color: #4472e7;
    border-radius: 8px;
    font-weight: 500;
    font-family: poppins, sans-serif;
    display: inline-block;
    margin: 10px 20px 10px 0;
    font-size: 12px;
  }

  .langu {
    background-color: #ebebff;
    padding: 6px 14px;
    color: #4472e7;
    border-radius: 8px;
    font-weight: 500;
    font-family: poppins, sans-serif;
    display: inline-block;
    margin: 10px 20px 10px 0;
    font-size: 12px;
  }

  .cards-container {
    display: flex;
    align-items: center;
    margin: 10px 0 23px 0;
  }

  .dcanopy2_facebook {
    width: 100px;
  }

  .cards-container li {
    padding: 0;
    margin-right: 10px;
  }

  .skills-section {
    margin-left: 20px;
  }

  .instruction-show {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    color: #344563;
    margin: 30px 0 20px 0;
  }

  .bBg {
    background-color: #4053fc;
    color: #fff;
  }

  .bBg:hover {
    color: #4053fc;
    background-color: #fff;
    border-color: #4053fc;
  }
}
